# Default values for validation-service.

# Number of Pod Replicas desired
replicaCount: 2

# Enables debug mode
debug:
  enable: false

# mode for profile provisioning of snapshot profiles
# default is dedicated
# available modes:
# - dedicated: all profiles are provisioned in a dedicated pod
# - distributed: one profile provisioning for one pod
# - combined: mix of dedicated and distributed
provisioningMode: null

# Required Values for the Chart
required:
  # Define the docker image
  image:
    # The repository where is stored the docker image "validation-service"
    repository: europe-west3-docker.pkg.dev/gematik-all-infra-prod/demis-dev
    # The name of the image
    name: validation-service
    # Overrides the image tag whose default is the chart appVersion.
    # If not given, the Chart AppVersion will be used
    tag: null
  # Version of the profiles to be used
  profiles:
    repository: europe-west3-docker.pkg.dev/gematik-all-infra-prod/demis-dev
    name: fhir-profile-snapshots
    packageName: rki.demis.notification-api.snapshot
    imageName: null
    # For backward compatibility reasons, this version is used if the version list is not set
    version: "TagOfProfileSnapshotsImage"
    # list of versions (Image Tags).
    # order is important! against the first version entry is validated first
    versions: null

# Extra Labels to be added
# E.g.
# customLabels:
#   my-label: my-label-value
customLabels: {}

# Environment Variables to be defined
customEnvVars:
  FEATURE_FLAG_FORMAT_VALIDATION_ENABLED: "true"
  FEATURE_FLAG_COMMON_CODE_SYSTEM_TERMINOLOGY_ENABLED: "false"
  FEATURE_FLAG_TERMINOLOGY_SERVER: "false"
  FEATURE_FLAG_FILTERED_ERRORS_AS_WARNINGS_DISABLED: "false"
  FEATURE_FLAG_CUSTOM_REGEX_VALIDATOR_ENABLED: "false"
  FEATURE_FLAG_CUSTOM_QUANTITY_VALIDATOR_ENABLED: "false"
  FEATURE_FLAG_VALIDATION_EXTENSION_CHECK_ENABLED: "false"
  FEATURE_FLAG_DENY_MODIFIER_EXTENSIONS: "false"
  FEATURE_FLAG_ADDITIONAL_STRICT_CODING_VALIDATOR_ENABLED: "false"
  CONFIG_OPTION_TERMINOLOGY_SERVER_URL: "http://terminology-server.demis.svc.cluster.local/fhir"

# Extra labels for deployments
deploymentLabels: {}

# Define custom Container Entrypoint and Arguments (e.g. JVM Tuning)
# If not given, the Entrypoint defined in Dockerfile will be used
application:
  entrypoint: ["java"]
  parameters: ["-XX:ActiveProcessorCount=2", "-XX:MaxRAMPercentage=80.0", "-XX:+TieredCompilation", "-jar", "/app.jar"]

imagePullPolicy: IfNotPresent
# Define Image Pull Secrets if using private registry
imagePullSecrets: []
nameOverride: "validation-service"
fullnameOverride: "validation-service"

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# Annotations for Workload
annotations: {}

# Annotations for Pods
podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
  prometheus.io/port: "8080"

# Pod Security Context - applies to all containers in a Pod
podSecurityContext:
  # The GID to tell the Kubelet to modify permissions of a volume owned by a pod
  fsGroup: 10000
  # Determines when to apply fsGroup actions - "Always" is the default
  fsGroupChangePolicy: "OnRootMismatch"
  # Which GID container process is assigned
  runAsGroup: 10000
  # Determine whether container process starts as root (UID 0)
  runAsNonRoot: true
  # Which UID container process is assigned
  runAsUser: 10000

# Container Security Context for a single container - Takes precedence over PodSecurityContext
securityContext:
  #defines whether container can be granted privileges beyond the parent process spawing the process
  allowPrivilegeEscalation: false
  #Define whether the container has privileged access e.g. CAP_SYS_ADMIN capability and SELinux spc_t type
  privileged: false
  #Usually no longer required. Determines whether /proc is masked to the container. Do not mount /proc from a host to a container
  procMount: Default
  # The SELinux context to be applied to the container. Must not be explicitly set to Unconfined.
  seccompProfile:
    type: "RuntimeDefault"
  #Which GID container process is assigned
  runAsGroup: 10000
  # Determine whether container process starts as root (UID 0)
  runAsNonRoot: true
  #Which UID container process is assigned
  runAsUser: 10000
  # Sets the file system as read-only
  readOnlyRootFilesystem: true
  #Ability to remove and /or add Linux Capabilities
  capabilities:
    drop:
      - all

service:
  type: ClusterIP
  ports:
    http: 8080

# Default Resources
resources:
  limits:
    memory: "2750Mi"
  requests:
    cpu: "2.0"
    memory: "2750Mi"

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

istio:
  validateJwt: false
